@font-face {
    font-family: "Roboto";
    src: url("assets/Fonts/Roboto-Medium.ttf");
}

/*General / Useable over the page*/

a.btn-style {
    color: #ff0000;
    border: 2px solid #ff0000;
    border-radius: 40px;
    background-color: #fff;
    font-size: 20px;
    height: 50px;
    width:  175px; 
    margin: 0 auto;
    margin-top: 15px;
    padding: 5px 15px;
    text-decoration: none;
}

a.btn-style:hover {
    background-color: #ff0000;
    color: #fff;
    transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
}

.article-section {
    margin-top: 50px;
}

p.article-desc {
    font-family: "Roboto", sans-serif;
}

/*Music*/

.article-section div.text-center label {

}

.article-section div.text-center audio {
    margin-left: 7px;
}

.article-section div.text-center a {
    
}

.badge-success {
    background-color: #468847;
}

.audio {
    margin: 10px 0 20px 0;
}

/*Music Video*/

video {
    object-fit: cover;
    border-radius: 10px;
}



/*Tour Dates*/

table {
    text-align: center;
    width: 100%;
    margin-bottom: 35px; 
}

table tr {
    text-align: center;
}

table tr th {
    text-align: center;
}

th, td {
    padding: 10px;
}

td a.buy-tickets {
    text-decoration: none;
    font-size: 13px;
    color: #ff0000;
    text-transform: uppercase;
}

td a.buy-tickets:hover {
    color: #fa5454;
}

/*Latest News*/

.news-article {
    margin-top: 20px;
    margin-bottom: 30px;
}

/*About the Band*/

.article-section img {
    padding: 45px;
    border-radius: 65px;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .article-section img {
        margin-left: 105px;
        border-radius: 65px;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .article-section img {
        float: right;
        margin-left:0;
        padding: 15px;
        border-radius: 25px;
    }

    .article-section div.text-center label {
        width:100%;
    }

    .article-section div.text-center audio {
        margin-left: 25px;
    }

    .article-section div.text-center a.listen-more {
        display: block;
        font-size: 22px;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .article-section div.text-center audio {
        margin-left: 0;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .article-section img {
        float: right;
        padding: 15px;
        border-radius: 25px;
    }
}