@font-face {
    font-family: "Caveat";
    src: url("../assets/Fonts/Caveat-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../assets/Fonts/Roboto-Medium-webfont.woff") format('woff'),
    url("../Roboto-Medium.ttf") format("ttf");
}

/*Header*/
/*Custom CSS / Bootstrap Overrides */ 

html {
    margin: 0;
    padding: 0;
}

#bg-nav-color {
    background-color: #fff;
}

div.navbar-header a img {
    height: 35px; 
    margin-right: 150px;
}

ul.nav.navbar-nav li a {
    font-family: "Caveat", sans-serif;
    color: #FF0000;
    font-size: 25px;
}

ul.nav.navbar-nav li a:hover {
    color: rgb(209, 43, 43);
}

a.navbar-brand {
    padding: 8px 15px;
}



/*Footer/
/*Custom CSS*/

footer {
    margin-top: 75px;
    margin-bottom: 50px;
}

.social-heading {
    font-family: "Caveat", sans-serif;
    color: #FF0000;
    display: block;
    font-size: 30px;
    position: relative;
    background-color: #fff;
    z-index: 3;
    width: 60%;
    margin:0 auto;
    
    margin-bottom: 20px;
}

span.sectionnew {
    border-top: 3px solid #c7c7c7;
    display: block;
    height: 1px;
    position: relative;
    top: 23px;
    width: 100%;
    margin: auto;
}

.list-style {
    padding: 0;
}

.social-links {
    text-align: center;
}

.list-style li {
    list-style-type: none;
    display: inline-block;
}

.list-style li a {
    text-decoration: none;
}

.list-style li a i {
    font-size: 15pt;
    width: 40px;
    height: 40px;
    padding-top: 16px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 7px; 
    text-align: center; 
    color: #fafafa;
    background-color: #FF0000;
}

.footer-logo {
    text-align: center;
}

.footer-logo a img {
    display:inline-block;
    height: 150px;
    margin-top: 40px; 
}

.list-style li a i:hover {
    background-color: rgb(255, 60, 60);
    color: #cecece;
}

/*Can be applied to any page*/

.text-center {
    text-align: center;
}

.text-style {
    font-family: "Caveat", sans-serif;
    color: #FF0000;
}

.main-text {
    font-family: "Roboto", sans-serif;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .social-heading {
        width: 45%;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .social-heading {
        width: 100%;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    
}