.news-section-right {
    float: right;
}

ul {
    list-style-type: none;
}

.btn {
    border: 1px solid #ff0000;
    border-radius: 30px;
    font-size: 20px;
    color: #ff0000;
    background-color:#fff;
}

.btn:hover {
    background-color: #ff0000;
    color:#fff;
    transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
}

h2 .text-style {
    font-size: 30px;
}