@font-face {
    font-family: "Roboto";
    src: url("assets/Fonts/Roboto-Medium.ttf");
}

/*Main Tour Dates*/

div.main-tour-dates {
    margin-top: 25px;
    margin-right: 50px;
}

div.main-tour-dates h1 {
    width: 60%;
}

/*New/Sold Out Tour Dates*/

div.new-sold-tour-dates {
    margin-top: 25px;
}

table {
    text-align: center;
    width: 100%;
    margin-bottom: 35px; 
}

table tr {
    text-align: center;
}

tr td {
 font-family: "Roboto", sans-serif;
}

table tr th {
    text-align: center;
}

th, td {
    padding: 20px;
}

a.buy-tickets {
    text-decoration: none;
    font-size: 13px;
    color: #ff0000;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
}

a.buy-tickets:hover {
    color: #fa5454;
}



